In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('../TextFiles/IMDB Dataset.csv')

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
#checking for null reviews 
df.isnull()

       review  sentiment
0       False      False
1       False      False
2       False      False
3       False      False
4       False      False
...       ...        ...
49995   False      False
49996   False      False
49997   False      False
49998   False      False
49999   False      False

[50000 rows x 2 columns]

In [6]:
#dropping null reviews
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [8]:
#checking for blank reviews and putting them in  a different array
blanks = []

for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [9]:
blanks

[]

In [10]:
#using created array of blanks we drop blank reviews from the list
df.drop(blanks,inplace = True)

In [11]:

from sklearn.model_selection import train_test_split

In [12]:
X = df['review']

In [13]:
Y = df['sentiment']

In [14]:
#splitting data in test and training set 
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.33)

In [15]:
from sklearn.pipeline import Pipeline

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [17]:
from sklearn.svm import LinearSVC

In [30]:
for i in range(1,10):
 svc = LinearSVC(verbose=5)

In [31]:
tfidf = TfidfVectorizer()

#pipeline creation 

clf = Pipeline([('tfidf',TfidfVectorizer()),('svc',LinearSVC())])

In [32]:
#fitting Training set 

clf.fit(X_train,Y_train)

Pipeline(memory=None,
         steps=[('tfidf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, use_idf=True,
                                 vocabulary=None)),
                ('svc',
                 LinearSVC(C=1.0, class_weight=None, dual=True,
                           fit_intercept=True, intercept_scaling=1,
                           loss='squared_hinge', max_iter=1000,
                           multi_class='ovr', penalty='l2', random_state=None,
                           tol=0.0001, verbose=0))],
         verbose=False)

In [33]:
#Predicting on Test set reviews

predictions = clf.predict(X_test)

In [34]:
from sklearn import metrics

In [35]:
#comparing with test set labels for accuracy , f_1score and recall and precision

print(metrics.classification_report(Y_test,predictions))

              precision    recall  f1-score   support

    negative       0.91      0.89      0.90      8191
    positive       0.90      0.91      0.90      8309

    accuracy                           0.90     16500
   macro avg       0.90      0.90      0.90     16500
weighted avg       0.90      0.90      0.90     16500

In [36]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test,predictions))

0.9008484848484849

In [37]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [38]:
print(metrics.confusion_matrix(Y_test,predictions))

[[7316  875]
 [ 761 7548]]

In [39]:
len(Y_test)

16500