In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('npr.csv')

In [4]:
df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [1]:
from sklearn.feature_extraction.text import CountVectrizer

ImportError: cannot import name 'CountVectrizer' from 'sklearn.feature_extraction.text' (C:\Users\dell\Anaconda3\envs\nlp_course\lib\site-packages\sklearn\feature_extraction\text.py)

In [6]:
# we remove stop_words , words that are common in 90% files and words that are common in atleast 2 files
cv = CountVectorizer(max_df=0.9,min_df=2,stop_words='english')

In [7]:
dtm = cv.fit_transform(df['Article'])

In [8]:
from sklearn.decomposition import LatentDirichletAllocation

In [9]:
lda = LatentDirichletAllocation(n_components=7, random_state=42)

In [10]:
lda.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7,
             learning_method='batch', learning_offset=10.0,
             max_doc_update_iter=100, max_iter=10, mean_change_tol=0.001,
             n_components=7, n_jobs=None, n_topics=None, perp_tol=0.1,
             random_state=42, topic_word_prior=None,
             total_samples=1000000.0, verbose=0)

In [11]:
# Grab vocabulary of words

In [12]:
len(cv.get_feature_names())

54777

In [13]:
# Grab the topics

In [14]:
len(lda.components_)

7

In [15]:
print(lda.components_)

[[8.64332806e+00 2.38014333e+03 1.42900522e-01 ... 1.43006821e-01
  1.42902042e-01 1.42861626e-01]
 [2.76191749e+01 5.36394437e+02 1.42857148e-01 ... 1.42861973e-01
  1.42857147e-01 1.42906875e-01]
 [7.22783888e+00 8.24033986e+02 1.42857148e-01 ... 6.14236247e+00
  2.14061364e+00 1.42923753e-01]
 ...
 [3.11488651e+00 3.50409655e+02 1.42857147e-01 ... 1.42859912e-01
  1.42857146e-01 1.42866614e-01]
 [4.61486388e+01 5.14408600e+01 3.14281373e+00 ... 1.43107628e-01
  1.43902481e-01 2.14271779e+00]
 [4.93991422e-01 4.18841042e+02 1.42857151e-01 ... 1.42857146e-01
  1.43760101e-01 1.42866201e-01]]

In [16]:
single_topic = lda.components_[0]

In [17]:
single_topic.argsort()[-10:] #grabs last 10 of list

array([33390, 36310, 21228, 10425, 31464,  8149, 36283, 22673, 42561,
       42993], dtype=int64)

In [18]:
top_ten_words = single_topic.argsort()[-20:]

In [19]:
for index in top_ten_words:
    print(cv.get_feature_names()[index])

president
state
tax
insurance
trump
companies
money
year
federal
000
new
percent
government
company
million
care
people
health
said
says

In [20]:
# Grabing highest probabilty words from each topic
for i,topic in enumerate(lda.components_):
    print(f'THE TOP 15 WORDS FOR TOPIC #{i}')
    print([cv.get_feature_names()[i] for i in topic.argsort()[-15:]])
    print('\n')

THE TOP 15 WORDS FOR TOPIC #0
['companies', 'money', 'year', 'federal', '000', 'new', 'percent', 'government', 'company', 'million', 'care', 'people', 'health', 'said', 'says']


THE TOP 15 WORDS FOR TOPIC #1
['military', 'house', 'security', 'russia', 'government', 'npr', 'reports', 'says', 'news', 'people', 'told', 'police', 'president', 'trump', 'said']


THE TOP 15 WORDS FOR TOPIC #2
['way', 'world', 'family', 'home', 'day', 'time', 'water', 'city', 'new', 'years', 'food', 'just', 'people', 'like', 'says']


THE TOP 15 WORDS FOR TOPIC #3
['time', 'new', 'don', 'years', 'medical', 'disease', 'patients', 'just', 'children', 'study', 'like', 'women', 'health', 'people', 'says']


THE TOP 15 WORDS FOR TOPIC #4
['voters', 'vote', 'election', 'party', 'new', 'obama', 'court', 'republican', 'campaign', 'people', 'state', 'president', 'clinton', 'said', 'trump']


THE TOP 15 WORDS FOR TOPIC #5
['years', 'going', 've', 'life', 'don', 'new', 'way', 'music', 'really', 'time', 'know', 'think', 'people', 'just', 'like']


THE TOP 15 WORDS FOR TOPIC #6
['student', 'years', 'data', 'science', 'university', 'people', 'time', 'schools', 'just', 'education', 'new', 'like', 'students', 'school', 'says']

In [21]:
# Attaching Discovered Topic Labels to Original Articles

topic_results = lda.transform(dtm)
topic_results

array([[1.61040465e-02, 6.83341493e-01, 2.25376318e-04, ...,
        2.99652737e-01, 2.25479379e-04, 2.25497980e-04],
       [3.63424997e-02, 8.86130697e-01, 4.40751747e-04, ...,
        7.57636804e-02, 4.40866779e-04, 4.40835574e-04],
       [3.28569485e-04, 6.96344889e-01, 3.28302105e-04, ...,
        3.02012902e-01, 3.28724083e-04, 3.28352652e-04],
       ...,
       [1.44467964e-02, 1.60696622e-01, 1.73678310e-01, ...,
        2.24636569e-02, 3.98728349e-04, 3.98359730e-04],
       [4.33560738e-04, 3.53196803e-02, 4.33022554e-04, ...,
        9.62512640e-01, 4.33971991e-04, 4.33490254e-04],
       [3.98777533e-01, 2.54376049e-04, 3.59290659e-01, ...,
        2.40914375e-01, 2.54445555e-04, 2.54253739e-04]])

In [22]:
df.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [25]:
topic_results.argmax(axis=1)

array([1, 1, 1, ..., 3, 4, 0], dtype=int64)

In [24]:
df['Topic'] = topic_results.argmax(axis=1)

In [39]:
df.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      2

In [46]:
df.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      2